div(flex="100")
  ui-gmap-google-map(center='map.center' zoom='map.zoom' events='events')
    ui-gmap-marker(
      ng-repeat='theater in theaters'
      idKey='theater.code'
      coords='theater.geopoint'
    )
      ui-gmap-window(templateUrl='"map/directives/map-window.html"' templateParameter='theater')
