md-list
  md-list-item.md-2-line(ng-repeat="showtime in showtimes")
    img.md-avatar.clickable(
      ng-src="{{ showtime.movie.poster }}"
      ui-sref="base.movieDetails({movieId: showtime.movieId})"
    )
    .md-list-item-text
      h3 {{ showtime.theater.name }}
      h4 à {{ showtime.theater.actualDistance.toFixed()}} kms
      p {{ showtime.datetimeString }}
    md-divider
