header
  md-toolbar
    .md-toolbar-tools
      h2
        span.clickable(ui-sref="tab.board") Cinesponsable
  md-tabs(md-stretch-tabs="always")
    md-tab(ui-sref="base.map") Carte
    md-tab(ui-sref="base.theaters") Salles
    md-tab(ui-sref="base.movies" ng-disabled="true") Films
main.md-padding(layout="row" flex)
  .container(ui-view flex="100")
