header
  md-toolbar
    .md-toolbar-tools
      h2
        span.clickable(ui-sref="tab.board") Cinedurable
  md-tabs(md-stretch-tabs="always")
    md-tab(ui-sref="base.map" md-active="state.current.data.tab == 'map'") Carte
    md-tab(ui-sref="base.theaters" md-active="state.current.data.tab == 'theaters'") Salles
    md-tab(ui-sref="base.movies" ng-disabled="true" md-active="state.current.data.tab == 'movies'") Films
main(layout="column" flex="grow" style="height: 100%")
  .container(ui-view layout="column" flex="grow" style="height: 100%")
