div(layout="row")
  div(flex="30")
    img(src="{{ movie.poster }}" width="100%" height="100%")
  div.md-padding(flex)
    h3 {{ movie.originalTitle }}
    p {{ movie.synopsis }}
    md-button.md-raised.md-primary(
      ui-sref="base.showtimeByMovie({movieId: movie.id})"
    ) Voir les séances
