div(
  ng-if="ready && showtimes.length == 0"
  flex
  layout-align="center center"
  layout="column"
)
  div.text-center Ce cinéma n'enregistre pas encore ses séances...

md-list
  md-list-item.md-2-line(ng-repeat="showtime in showtimes")
    img.md-avatar(ng-src="{{ showtime.movie.poster }}")
    .md-list-item-text
      h3 {{ showtime.movie.originalTitle }}
      p {{ showtime.datetimeString }}
    md-divider
